<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Humber Library</title>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
	<div th:replace="Fragments/header :: header(${username})"></div>
	<br>
	<div th:replace="admin/users/navbars/navbar-add-user :: navbar"></div>
	<br>
	<div id="main">
		<div class="container-2">
			<h1 class="center-title">List of Customers</h1>
			<table class="list-books" border="1">
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th>Address</th>
					<th>City</th>
					<th>State</th>
					<th>Country</th>
					<th>Age</th>
					<th>Mobile</th>
					<th>Profession</th>
					<th colspan="2">Action</th>
				</tr>
				<tr th:each="customer: ${customerUsers}">
					<td th:text="${customer.name}" />
					<td th:text="${customer.username}" />
					<td th:text="${customer.address}" />
					<td th:text="${customer.city}" />
					<td th:text="${customer.state}" />
					<td th:text="${customer.country}" />
					<td th:text="${customer.age}" />
					<td th:text="${customer.mobile}" />
					<td th:text="${customer.profession}" />
					<td class = "edit-link"><a th:href="|modifyUser?username=${customer.username}|">Edit</td>
					<td class = "delete-link"><a th:href="|DeleteUser?username=${customer.username}|">Delete</td>
				</tr>
			</table>
			<br>
		</div>
		<div th:replace="Fragments/footer :: footer"></div>
	</div>
</body>

</html>